@using Microsoft.AspNetCore.Identity
@using GoodNeighborHouse.TimeCard.Web.Controllers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>@Html.ActionLink("Reconciliation", nameof(ReconciliationController.Index), "Reconciliation", null, new { @class = "dropdown-item btn btn-link" })</li>
                <li>@Html.ActionLink("Data Export", "ViewAll", "Volunteer", null, new { @class = "dropdown-item btn btn-link" })</li>
                <li class="dropdown-divider"></li>
                <li>@Html.ActionLink("Departments", "ViewAll", "Department", null, new { @class = "dropdown-item btn btn-link" })</li>
                <li>@Html.ActionLink("Orgnizations", "ViewAll", "Organization", null, new { @class = "dropdown-item btn btn-link" })</li>
                <li>@Html.ActionLink("Volunteers", "ViewAll", "Volunteer", null, new { @class = "dropdown-item btn btn-link" })</li>
            </ul>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Kiosk", nameof(KioskController.Index), "Kiosk", null, new { @class = "nav-link btn btn-link" })
        </li>
    }
</ul>