@model GoodNeighborHouse.TimeCard.Web.Models.Volunteer

@{
    var titleVerb = Model.Id == default ? "Create" : "Edit";
    ViewBag.Title = $"{titleVerb} Volunteer";
    Layout = "_Layout";
}

@if (Model.FirstName != null || Model.LastName != null)
{
    <h2>@Model.FirstName @Model.LastName</h2>
} else
{
    <h2>Create Volunteer</h2>
}


@Html.HiddenFor(volunteer => volunteer.Id)

<div class="form-group">
    <label>First Name</label>
    @Html.TextBoxFor(volunteer => volunteer.FirstName)
</div>

<div class="form-group">
    <label>Last Name</label>
    @Html.TextBoxFor(volunteer => volunteer.LastName)
</div>

<div class="form-group">
    <label>Date of Birth Name</label>
    @Html.TextBoxFor(volunteer => volunteer.DateOfBirth)
</div>