@model GoodNeighborHouse.TimeCard.Web.Models.Volunteer

@{
    var titleVerb = Model.Id == default ? "Create" : "Edit";
    var organizationItems = new List<SelectListItem>();
    ViewBag.Title = $"{titleVerb} Volunteer";
    Layout = "_Layout";

    if (Model.Organizations != null) {
            foreach (var organization in Model.Organizations)
            {
                organizationItems.Add(new SelectListItem
                {
                    Text = organization.Name,
                    Value = organization.Id.ToString()
                });
            }
    }
}

@if (Model.FirstName != null || Model.LastName != null)
{
    <h2>@Model.FirstName @Model.LastName</h2>
}
else
{
    <h2>Create Volunteer</h2>
}


@using (Html.BeginForm(titleVerb, "Volunteer", FormMethod.Post))
{
    @Html.HiddenFor(volunteer => volunteer.Id)
    
    <div class="form-group">
        <label>Last Name or Group</label><br />
        @Html.TextBoxFor(volunteer => volunteer.LastName, new {
            @class = @"form-control"
        })
    </div>

    <div class="form-group">
        <label>First Name</label><br />
        @Html.TextBoxFor(volunteer => volunteer.FirstName, new {
            @class = @"form-control"
        })
    </div>

    <div class="form-group">
        <label>Organization (optional)</label><br />
        @Html.DropDownListFor(volunteer => volunteer.SelectedOrganizationId, organizationItems, "Select an Organization", new {
            @class = @"form-control"
        })
    </div>

    <div class="form-group">
        <label>
            @Html.RadioButtonFor(volunteer => volunteer.IsGroup, false, new {
            @class = @"form-control"
        })
            Individual
        </label>
        <label>
            @Html.RadioButtonFor(volunteer => volunteer.IsGroup, true, new {
            @class = @"form-control"
        })
            Group
        </label>
    </div>

    <div class="form-group">
        <label>
            @Html.CheckBoxFor(volunteer => volunteer.IsPaid, new {
            @class = @"form-control"
        })
            Paid Volunteer
        </label>
    </div>

    <div class="form-group">
            <h5>Departments</h5>
            @for (int i = 0; i < Model.Departments.Count; i++)
            {
                <label>
                    @Html.CheckBoxFor(selection => selection.Departments[i].Selected, new {
                        @class = @"form-control"
                    })
                    @Model.Departments[i].Display
                    @Html.HiddenFor(selection => selection.Departments[i].Item)
                </label><br />
            }
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    <button type="button" class="" onclick="Window.location.href = '@Url.Action(@"ViewAll", "Volunteer")';">Cancel</button>
}

